.webull-navbar {
  position: fixed;
  top: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: white;
  padding: 0.75rem 2rem;
  color: white;
  font-family: 'Segoe UI', sans-serif;
  width: 100%;
  box-sizing: border-box;
  margin-bottom: 60px;
  }

  .brand {
  font-size: 2.5rem;
  font-weight: bold;
  }



  .nav-links {
  display: flex;
  justify-content: space-evenly;
  flex: 1;
  gap: 6rem;
  list-style: none;
  margin: 0;
  padding: 0;
  padding-left: 20%;
  cursor: pointer;
  }


  .nav-links a {
  color: black;
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
  font-size: 1rem;
  }

  .nav-links a:hover,
  .nav-links a.active {
  color: #0033cc
  }

  .brand {
  padding-left: 20px;
  color: black
  }

  .search-bar {
  padding-left: 10%;
  position: relative;
  }

  .search-bar input {
  background-color: #EFEFEF;
  padding: 0.5rem 1rem;
  border-radius: 999px;
  border: 1rem;
  outline: 1rem;
  font-size: 1rem;
  }

  .auth1-btn {
  display: flex;
  gap: 0.9rem;
  }

  .login-btn {
  background-color: #1f80e4;
  color: white;
  border-radius: 999px;
  padding: 0.5rem 1rem;
  border-radius: 999px;
  border: 1rem;
  outline: 1rem;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  }

  .signup-btn {
  background-color: #9aacbd;
  color: white;
  border-radius: 999px;
  padding: 0.5rem 1rem;
  border-radius: 999px;
  border: 1rem;
  outline: 1rem;
  font-size: 1rem;
  text-decoration: none;
  cursor: pointer;
  }

  .toast-message.under-search {
  position: absolute;
  left: 105%;
  top: 50%;
  transform: translateY(-50%);
  background-color: #1f2937;
  color: #ffffff;
  padding: 10px 14px;
  border-radius: 6px;
  font-size: 14px;
  white-space: nowrap;
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.25);
  z-index: 1000;
  }

  @keyframes fade-in-out {
  0% { opacity: 0; transform: translateY(-10px); }
  10% { opacity: 1; transform: translateY(0); }
  90% { opacity: 1; transform: translateY(0); }
  100% { opacity: 0; transform: translateY(-10px); }
  }


  .search-bar {
  padding-top: 1.1%;
  position: relative;
  overflow: visible;
  }

  .search-dropdown {
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  color: black;
  border: 1px solid #ccc;
  width: 100%;
  max-height: 200px;
  overflow-y: auto;
  z-index: 999;
  border-radius: 4px;
  list-style: none;
  padding-left: 0; /* Removes left padding */
  margin: 0;
  }

  .search-dropdown li {
  padding: 8px 12px;
  cursor: pointer;
  }

  .search-dropdown li:hover {
  background-color: #f3f3f3;
  }

  .no-results{
  pointer-events: none;
  cursor: default;
  color: #999;
  background-color: transparent;
  }
